@model User
<body class="menu-body">
<h1 align="center">Ro'yxatdan o'tish</h1>
<div class="form-bg" id="cont">
    <div class="container">
        <div class="row">
            <div  class="reg_card col-md-4 col-md-offset-4">
                <div class="form-container">
        <div  class="form-icon"><i class="fa fa-user"></i></div>
                    <h3 class="title">Login</h3>
                    <form class="form-horizontal"  asp-action="SignUp"  method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" name="Name" type="text" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input class="form-control" name="Phone" type="text" placeholder="Phone number">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" name="Password" type="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <input type="submit" value="Sign Up" class="form-control ; btn btn-success" style="text-align: center; justify-content: flex-start" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>
    .demo {
        background: #F2F2F2;
    }

    .form-container{
        background: red
    }
    .form-container {
        background: #ecf0f3;
        font-family: 'Nunito', sans-serif;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }

    .menu-body {
        background:#afeeee;
    }
        .form-container .form-icon {
            color: #ac40ab;
            font-size: 55px;
            text-align: center;
            line-height: 100px;
            width: 100px;
            height: 100px;
            margin: 0 auto 15px;
            border-radius: 50px;
            box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px #fff;
        }

        .form-container .title {
            color: #ac40ab;
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            margin: 0 0 20px;
        }

        .form-container .form-horizontal .form-group {
            margin: 0 0 25px 0;
        }

            .form-container .form-horizontal .form-group label {
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
            }

        .form-container .form-horizontal .form-control {
            color: #333;
            background: #ecf0f3;
            font-size: 15px;
            height: 50px;
            padding: 20px;
            letter-spacing: 1px;
            border: none;
            border-radius: 50px;
            box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
            display: inline-block;
            transition: all 0.3s ease 0s;
        }

            .form-container .form-horizontal .form-control:focus {
                box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
                outline: none;
            }

            .form-container .form-horizontal .form-control::placeholder {
                color: #808080;
                font-size: 14px;
            }

        .form-container .form-horizontal .btn {
            color: #000;
            background-color: #ac40ab;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
            padding: 12px 15px 11px;
            border-radius: 20px;
            box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
            border: none;
            transition: all 0.5s ease 0s;
        }

            .form-container .form-horizontal .btn:hover,
            .form-container .form-horizontal .btn:focus {
                color: #fff;
                letter-spacing: 3px;
                box-shadow: none;
                outline: none;
            }
    .reg_card {
        margin: 0 auto;
    }

</style>


@*
<h1 align="center">Ro'yxatdan o'tish</h1>

<div style="display: flex; justify-content: center; text-align: center">
  <form asp-action="SignUpPost" method="post">

        <input class="inputtype" type="text" name="Name" placeholder="Name" /> <br />
        <input class="inputtype" type="text" name="Phone" placeholder="Phone" /> <br />
        <input class="inputtype" type="password" name="Password" placeholder="Password" /> <br />
        <input class="inputtype" value="Sign up" type="submit" name="Submit" style="font-size: 20px; background: blue" placeholder="Sign In" />

    </form>
</div>

<style>
   
    .inputtype {
        width: 400px;
        height: 40px;
        margin-bottom: 10px;
        font-size: 25px;
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    
</style>
*@