
<h1 align="center">Ro'yxatdan o'tish</h1>

<div style="display: flex; justify-content: center; text-align: center">
  <form asp-action="SignUpPost" method="post">

        <input class="inputtype" type="text" name="Name" placeholder="Name" /> <br />
        <input class="inputtype" type="text" name="Phone" placeholder="Phone" /> <br />
        <input class="inputtype" type="password" name="Password" placeholder="Password" /> <br />
        <input class="inputtype" value="Sign up" type="submit" name="Submit" style="font-size: 20px; background: blue" placeholder="Sign In" />

    </form>
</div>

<style>
   
    .inputtype {
        width: 400px;
        height: 40px;
        margin-bottom: 10px;
        font-size: 25px;
        font-size: 25px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    
</style>
