@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Bu yerda 700 dan ortiq avtotest savollarini topishingiz mumkun</h1>
    <a   class="btn btn-primary" asp-controller="Users" asp-action="SignIn">Sign In</a>
    <a class="btn btn-primary" asp-controller="Users" asp-action="SignUp">Sign Up</a>
   
</div>
